.logoImgUploadContainer {
  display: flex;
}
#header-image-preview {
  width: 108px;
  height: 32px !important;
  object-fit: cover;
  margin-left: 11px;
}
img#upload-banner-image-preview-1 {
  width: 108px;
  height: 37px !important;
  object-fit: cover;
  margin-left: 11px;
}
img#upload-banner-image-preview-2 {
  width: 108px;
  height: 37px !important;
  object-fit: cover;
  margin-left: 11px;
}
img#upload-banner-image-preview-3 {
  width: 108px;
  height: 37px !important;
  object-fit: cover;
  margin-left: 11px;
}
#header-image-url {
  height: 12px;
}
#upload-header-image {
  height: 12px;
}
td.bannerHeadingtext input {
  width: 70.5%;
}
