div#realestate-ors-images-container {
  display: flex !important;
}
#realestate-ors-images-container .image-item {
  display: flex !important;
  align-items: center;
}
#realestate-ors-images-container .image-item img {
  height: 150px !important;
}
#realestate-ors-images-container .image-item .remove-image {
  height: 40px;
  transform: rotate(90deg);
}
button#add-image {
  margin-top: 15px;
}
